sudo: false
language: javascript

addons:
  apt:
    packages:
    - build-essential
    - libssl-dev
    - libffi-dev
    - libreadline-dev
    - libbz2-dev
    - libsqlite3-dev
    - libncurses5-dev
    - python
    - python-virtualenv
    - python-pip

 
install:
  # newer npm spinner is just a pain and will mess up in the logfiles
  - npm config set spin=false
  - npm install

before_script:
  # setup virtualenv
  - mkdir crossbar
  - virtualenv crossbar
  - pushd crossbar && source bin/activate
  - pip install -U pip wheel setuptools
  - pip install crossbar[all]
  - popd
  - pushd crossbar_testserver
  - crossbar start &
  - popd

script:

  # compile main source
  - npm run build

  # compile and pack tests
  - npm run build-test
  - npm test

# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
