sudo: false
language: javascript

addons:
  apt:
    packages:
    - build-essential
    - libssl-dev
    - libffi-dev
    - libreadline-dev
    - libbz2-dev
    - libsqlite3-dev
    - libncurses5-dev
    - python
    - libpython-dev
    - python-virtualenv
    - pip

 
install:
  # newer npm spinner is just a pain and will mess up in the logfiles
  - npm config set spin=false
  - npm install

after_install:
  # setup virtualenv
  - mkdir crossbar
  - virtualenv crossbar
  - cd crossbar && source bin/activate
  - pip install crossbar[all]

script:

  # compile main source
  - npm run build

  # compile and pack tests
  - npm run build-test

  # for running tests, we'd need a crossbario instance :(
  # - npm test

# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
